.btnSend{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #738CF2;
    -fx-text-fill: black;
    -fx-font-size: 10;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3),10.0 , 0.0 , 0.0 , 13.0);
    -fx-cursor: hand;
}

.btnAdd{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #738CF2;
    -fx-text-fill: black;
    -fx-font-size: 10;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.3),10.0 , 0.0 , 0.0 , 13.0);
    -fx-cursor: hand;
}

